---
layout: default
---
<div class="container mt-5">
  <h1 class="font-weight-bold">{{ page.course_code }}: {{ page.title }}</h1>

  <hr/>
  <h2 id="Personnel">Personnel</h2>

  <ul>
    {% if page.instructor %}
      <li><strong>Instructor:</strong> <a href="{{ page.instructor_url }}" target="_blank">{{ page.instructor }}</a></li>
    {% endif %}

    {% if page.time %}
      <li><strong>Meeting time:</strong> {{ page.time }}</li>
    {% endif %}

    {% if page.location %}
      <li><strong>Location:</strong> {{ page.location }} | <a href="{{ page.zoom }}" target="_blank">Zoom</a></li>
    {% endif %}

    {% if page.office_hours %}
      <li><strong>Office Hours:</strong> {{ page.office_hours }}</li>
    {% endif %}
  </ul>

  <hr/>

  {% if page.description %}
    <h2>Course Description</h2>
    <p>{{ page.description }}</p>
  {% endif %}


  <hr/>

  <p class="mt-4">{{ page.content }}</p>

</div>